@import url("https://fonts.googleapis.com/css2?family=Ephesis&family=IBM+Plex+Sans&family=Indie+Flower&family=Jost:ital,wght@1,900&family=Lunasima&family=Poppins:wght@100;200;300;400&family=Roboto+Slab&family=Rubik:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
  text-decoration: none;
  transition: 0.7s linear;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}
#brandlogo {
  height: 20px;
  position: relative;
  top: 20%;
}
/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  padding: 11px 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}
header .logo {
  font-size: 3rem;
  color: #fca311;
  font-family: "Ephesis";
  font-weight: bolder;
}

header .navbar .sectionlinks {
  font-size: 2rem;
  padding: 1.3rem;
  color: rgb(26, 29, 29);
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}
header .navbar .sectionlinks:hover {
  color: #fca311;
}

header .icons a {
  font-size: 2.5rem;
  color: #000000;
  margin-left: 1.5rem;
}
#toggler {
  display: none;
}
header .fa-bars {
  font-size: 3rem;
  color: black;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border: 1rem soild purple;
  display: none;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  header {
    padding: 2rem;
  }
}
@media (max-width: 765px) {
  header .fa-bars {
    display: block;
  }
  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #ffffff;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  header #toggler:checked ~ .navbar {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  header .navbar .sectionlinks {
    margin: 1.5rem;
    padding: 1.5rem;
    background: #ffffff;
    border-top: 0.1rem soild black;
    display: block;
  }
}

/* about */
#home {
  height: 100vh;
  display: flex;
  justify-content: left;
  align-items: left;
  background: url("images/Premium Photo _ Copy-space gift beside tulips.jpeg");
  background-size: cover;
  background-position: left;
  margin-top: 60px;
}
#home .textcontainer {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 100px;
  flex-basis: 50%;
}
#home .textcontainer h2 {
  font-size: 50px;
}
#home .textcontainer h3 {
  font-size: 30px;
  color: palevioletred;
}
#home .textcontainer p {
  font-size: 16px;
  line-height: 22px;
}
#home .textcontainer .shopbtn {
  height: 40px;
  width: 134px;
  background: black;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: white;
  margin: 10px 0;
}
#home .textcontainer .shopbtn:hover {
  background: palevioletred;
  color: black;
}

@media (max-width: 765px) {
  #home .textcontainer {
    flex-basis: 100%;
    margin: 0 50px;
  }
}
/* About */
.about {
  margin: 0 60px;
}
.heading {
  text-align: center;
  font-size: 4rem;
  color: #333;
  padding: 1rem;
  margin: 2rem 0;
}
span {
  color: palevioletred;
}

.about .row {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 2rem 0;
  padding-bottom: 3rem;
}
.about .row .video-container {
  flex: 1 1 40rem;
  position: relative;
}
.about .row .video-container video {
  width: 100%;
  height: 100%;
  border: 1.5rem solid #fff;
  border-radius: 0.5rem;
  object-fit: cover;
}
.about .row .video-container h3 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3rem;
  color: #00000094;
  background-color: white;
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
}
.about .row .content {
  flex: 1 1 40rem;
  font-size: 17px;
  text-transform: capitalize;
  margin: auto;
}
.about .row .content h3 {
  font-size: 30px;
  text-transform: capitalize;
  color: #000000;
  padding: 11px;
}
.about .row .content p {
  font-size: 20px;
  color: #333;
  padding: 10px 50px;
  line-height: 25px;
}
.about .row .content .shopbtn {
  height: 40px;
  width: 134px;
  background: black;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: white;
  margin: 10px 40px;
}
.about .row .content .shopbtn:hover {
  background: palevioletred;
  color: black;
}

@media (max-width: 765px) {
  .about {
    margin: 0 10px;
  }
}

.icon-container {
  background-color: antiquewhite;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.icon-container .icons {
  height: 15vh;
  width: 15%;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  flex-basis: 20%;
}
.icon-img {
  height: 70px;
  width: 70px;
}
.icon-container .info {
  padding-left: 10px;
  font-size: 14px;
  text-transform: capitalize;
}
@media (max-width: 1098px) {
  .icon-container .info {
    font-size: 12px;
  }
  .icon-img {
    height: 30px;
    width: 30px;
  }
}

@media (max-width: 765px) {
  .icon-container .icons {
    flex-basis: 100%;
    margin: 0 20%;
  }
  .icon-container .info {
    font-size: 12px;
  }
  .icon-img {
    height: 50px;
    width: 50px;
  }
}

/* product section  */
.product {
  color: #a8a1a1;
}
.product .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}
.product .box-container .box {
  margin: 10px;
  background: rgba(255, 255, 255, 0.24);
  padding: 30px;
  border-radius: 10px;
}
.product .box-container .box .discount {
  background: #551a8b;
  color: #eee;
  height: 30px;
  width: 200px;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  margin-left: 10px;
  border-top-right-radius: 15px;
}
.product .box-container .box #imagesize {
  height: 280px;
  width: 270px;
  border-radius: 0;
  transition: 0.2s;
}
.product .box-container .box #imagesize:hover {
  transform: translateY(10px);
}
.product .box-container .box .icons {
  font-size: 20px;
  margin: 20px 5px;
}
.product .box-container .box .productname {
  font-size: 15px;
  color: #000000f8;
  padding: 10px;
}
.price {
  font-size: 15px;
  color: rgb(0, 0, 0);
  padding: 10px;
}
.rating {
  background: rgb(10, 31, 10);
  padding: 7px 10px;
  font-size: 14px;
  border-radius: 8px;
  color: wheat;
}

.rating .fa-star {
  font-size: 12px;
  color: wheat;
}
@media (max-width: 1098px) {
  .product .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0rem;
    justify-content: center;
  }
  .product .box-container .box {
    margin: 5px;
    background: rgba(255, 255, 255, 0.24);
    padding: 10px;
    border-radius: 10px;
  }
  .product .box-container .box .discount {
    font-size: 10px;
    padding: 4px;
    margin-left: 7px;
    border-top-right-radius: 0px;
  }
  .product .box-container .box #imagesize {
    height: 200px;
    width: 200px;
    border-radius: 0px;
  }
  .product .box-container .box .productname {
    font-size: 11px;
    color: #000000f8;
    padding: 10px;
  }
  .rating {
    background: rgb(10, 88, 10);
    padding: 7px 10px;
    font-size: 9px;
    border-radius: 8px;
    color: white;
  }
}
@media (max-width: 424px) {
  .product .box-container .box {
    margin: 1px;
    padding: 4px;
    border: none;
  }
  .product .box-container .box .discount {
    font-size: 12px;
    padding: 2px;
    margin-left: 7px;
    border-top-right-radius: 0px;
  }
  .product .box-container .box #imagesize {
    height: 200px;
    width: 166px;
    border-radius: 0px;
  }
  .price {
    font-size: 15px;
    padding: 0 10px;
  }
  .rating {
    background: none;
    padding: 7px 10px;
    font-size: 15px;
    border-radius: 8px;
    color: rgb(33, 158, 43);
  }
  .rating .fa-star {
    color: rgb(33, 158, 43);
  }
}

/* review section */
#review {
  background-color: #faebd7;
}
.conatinerrow {
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
  background-color: rgb(255, 255, 255);
  margin: 0 50px;
}
.conatinerrow .reviewbox {
  flex-basis: 18%;
  margin: 30px 60px;
  padding: 20px;
  height: auto;
  width: 10%;
  background: #d3d3d3;
  transition: 0.5s;
}
.conatinerrow .reviewbox:hover {
  transform: translateY(-20%);
}
.ratingstar {
  color: #551a8b;
  font-size: 14px;
}
.userreviewtext {
  font-size: 14px;
  margin: 10px 0;
}
.userprofile {
  display: flex;
}
.userimage {
  height: 60px;
}
.usernamelinks {
  margin: 0 20px;
  text-transform: uppercase;
  line-height: 20px;
}
.usernamelinks h2 {
  color: rgb(4, 136, 153);
  text-transform: lowercase;
  font-size: 11px;
}
@media (max-width: 1098px) {
  .conatinerrow .reviewbox {
    flex-basis: 29%;
    margin: 10px 7px;
  }

  .conatinerrow {
    flex-wrap: wrap;
  }
  .userreviewtext {
    font-size: 10px;
  }
  .ratingstar {
    font-size: 10px;
  }
  .userimage {
    height: 40px;
    border-radius: 50%;
  }
}

@media (max-width: 765px) {
  .conatinerrow {
    margin: 0px 14px;
  }
  .conatinerrow .reviewbox {
    flex-basis: 64%;
    margin: 30px 36px;
  }

  .conatinerrow {
    flex-wrap: wrap;
  }
  .userreviewtext {
    font-size: 10px;
  }
  .ratingstar {
    font-size: 10px;
  }
  .userimage {
    height: 40px;
    border-radius: 50%;
  }
  .usernamelinks {
    margin: 0px 5px;
    text-transform: uppercase;
    line-height: 12px;
    font-size: 7px;
  }
  .usernamelinks h2 {
    color: rgb(4, 136, 153);
    text-transform: lowercase;
    font-size: 7px;
  }
}

/* contact Section */
.contact {
  margin: 50px 10%;
}
.contactrow {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

form {
  display: flex;
  flex-direction: column;
}
label {
  color: palevioletred;
  font-size: 16px;
  position: relative;
  top: 2%;
  left: 3%;
}
input {
  height: 34px;
  margin: 10px;
  font-size: 17px;
  padding-left: 10px;
  border: 1px soild #551a8b;
}
#submitbtn {
  width: 117px;
  border-radius: 15px;
  background: lightpink;
  border: none;
  text-transform: uppercase;
  font-size: 12px;
}
#submitbtn:hover {
  background: rgb(248, 107, 128);
  cursor: pointer;
}
input:focus {
  outline: none;
}
.ownercontacttemplate {
  display: flex;
  padding: 56px 0px 0px 28px;
  flex-direction: column;
  background-image: url("Premium Photo _ Copy-space gift beside tulips.jpeg");
  border-radius: 5px;
  flex-basis: 50%;
}
.contactus {
  margin: 10px;
  font-size: 16px;
  color: rgb(25, 80, 94);
}
.contactlinks {
  color: black;
}

::-webkit-scrollbar {
  display: none;
}
@media (max-width: 1098px) {
  .ownercontacttemplate {
    padding: 41px 0 48px 0px;
    flex-basis: 37%;
  }
  .contactus {
    font-size: 15px;
  }
  .contactlinks {
    font-size: 15px;
  }
}
@media (max-width: 823px) {
  .ownercontacttemplate {
    padding: 20px 0 27px 0px;
    flex-basis: 100%;
  }
  .contactus {
    font-size: 11px;
  }
  .contactlinks {
    font-size: 11px;
  }
}
@media (max-width: 453px) {
  .ownercontacttemplate {
    padding: 20px 0 27px 0px;
    flex-basis: 87%;
  }
  .contactus {
    font-size: 11px;
  }
  .contactlinks {
    font-size: 11px;
  }
}
/* footer */
.footerrow {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  gap: 20px;
  justify-content: space-evenly;
  background: #f4f7f8;
}
.contactaddress {
  padding: 20px;
  list-style-type: none;
  font-size: 15px;
}
.contactaddress .linksofcontact {
  margin-top: 20px;
}
.smallterms {
  padding: 20px;
  list-style-type: none;
  font-size: 15px;
}
.linksmallterms {
  margin-top: 20px;
}
.socialmedialinks {
  font-size: 25px;
  margin: 20px 30px;
}
#footersociallinks {
  color: #62487a;
  position: relative;
  margin: 10px 10px;
  left: 20%;
  transition: 0.4s;
}
#footersociallinks:hover {
  color: #551a8b;
  cursor: pointer;
  transform: translateY(-40%);
}
.copyrightsection {
  height: 10vh;
}
.paragraph {
  display: flex;
  justify-content: center;
  font-size: 14px;
}
@media (max-width: 765px) {
  .qrcode {
    height: 169px;
    width: 294px;
  }
  .socialmedialinks {
    font-size: 25px;
    margin: 18px -4px;
  }
  .smallterms {
    padding: 20px 0 0 35px;
    list-style-type: none;
    font-size: 15px;
  }
  .paragraph {
    font-size: 10px;
  }
  #brandlogo {
    height: 20px;
    position: relative;
    top: 30%;
  }
}
